{% extends "base.html" %}
{% block title %}コース詳細 - {{ super() }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_detail.css') }}" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/script3.js') }}"></script>
{% endblock %}
{% block content %}
<div class="course-detail-container">
  <div id="course-info-route" data-course="{{ course_dict.route }}" type="hidden"></div>
  <div id="course-info-waypoint_indices" data-course="{{ course_dict.waypoint_indices }}" type="hidden"></div>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    {% for image in course_dict.course_image %}
      <div class="carousel-inner">
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <img src="{{ url_for('static', filename='images/course-images/' + image.course_image) }}">
        </div>
      </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="title-area" style="display: flex;">
    <div>
      <div class="title" style="font-size: 40px;">{{ course_dict.title }}</div>
      <div class="title short-description-area" style="font-size: 20px; margin-bottom: 50px;">{{ course_dict.prefecture_name }}{{ course_dict.city_name }} {{ course_dict.distance }}km</div>
    </div>
    <button class="like-btn btn btn-sm" data-course-id="{{ course_dict.id }}">
      <i class="fa-regular fa-heart"></i>
      <span>{{ course_dict.likes|length }}</span>
    </button>
  </div>
  <p>コースの地図</p>
  <div id="map-area">
    <label class="map-label"></label>
    <div id="mapid" style="width: 600px; height: 300px; border-radius: 10px;"></div>
    <a class="map-data" id="download" href="#" download="{{ course_dict.title }}-route-data.kml" style="color: rgb(0, 162, 255); font-weight: bold;" onclick="handleDownload()">&nbsp;&nbsp;コースデータ(KML)をダウンロード</a>
  </div>
  <div class="course-info-container">
    <p>コースの説明</p>
    <div class="description-area">
      <span>{{ course_dict.description }}</span>
    </div>
    <p>近くにある施設</p>
    <div class="facility-area">
      {% for facility in course_dict.facilities %}
        <span>{{ facility.name }}</span>
      {% endfor %}
    </div>
  </div>
    {% if current_user.is_authenticated and current_user.id == course_dict.user_id %}
      <div class="submit-btn-container">
        <button id="submit-create" class="edit-page btn btn-outline-dark btn-sm" onclick="location.href='/courses/{{ course_dict.id }}/edit'">編集ページはこちらから</button>
      </div>
    {% endif %}
</div>
{% endblock %}
</html>