{% extends "base.html" %}
{% block title %}Home - {{ super() }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_detail.css') }}" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/script3.js') }}"></script>
{% endblock %}
{% block content %}
<div class="course-detail-container">
  <div id="course-info-route" data-course="{{ course_dict.route }}" type="hidden"></div>
  <div id="course-info-waypoint_indices" data-course="{{ course_dict.waypoint_indices }}" type="hidden"></div>
  <div class="title" style="text-align: center; font-size: 25px;">{{ course_dict.title }}</div>
  {% if current_user.is_authenticated and current_user.id == course_dict.user_id %}
  <div style="display: flex; justify-content: center; align-items: center;">
    <a class="edit-page" href="/courses/{{ course_dict.id }}/edit" style="display: inline-block; color: rgb(0, 162, 255);">編集ページはこちらから</a>
  </div>
  {% endif %}
  <div id="map-area">
    <label class="map-label"></label>
    <div id="mapid" style="width: 480px; height: 300px; border-radius: 10px;"></div>
  </div>
  <a class="map-data" id="download" href="#" download="{{ course_dict.title }}-route-data.kml" style="color: rgb(0, 162, 255); font-weight: bold;" onclick="handleDownload()">コースデータ(KML)をダウンロード</a>
  <div class="course-info-container">
    <p>コースの説明</p>
    <div class="description-area">
      <span>{{ course_dict.description }}</span>
    </div>
    <p>距離</p>
    <div class="distance-area">
      <span>{{ course_dict.distance }}km</span>
    </div>
    <p>場所</p>
    <div class="address-area">
      <span>{{ course_dict.prefecture_name }}{{ course_dict.city_name }}</span>
    </div>
    <p>近くにある施設</p>
    <div class="facility-area">
      {% for facility in course_dict.facilities %}
        <span>{{ facility.name }}</span>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
</html>