{% extends "base.html" %}
{% block title %}Home - {{ super() }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_list.css') }}">
{% endblock %}
{% block content %}
    
<div class="search-sidebar-container">
    <div class="sidebar">

      <form action="{{ url_for('courses.course_list') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.freeword.label(class="freeword-input-label")}}
        {{ form.freeword(class="freeword-input") }}

        {{ form.prefecture.label(class="prefecture-input-label") }}
        {{ form.prefecture(class="prefecture-input") }}

        <label for="length-selection">距離</label>
        <div class="list-sidebar__length" id="length-selection">
            {{ form.distance_min(class="js-running-length-min-selector js-running-length-selector list-sidebar__select")}}
            <div class="list-sidebar__length-between">
            &nbsp;&nbsp;&nbsp;〜&nbsp;
            </div>
            {{ form.distance_max(class="js-running-length-max-input js-running-length-selector list-sidebar__select")}}
        </div>
        <div class="checkbox-container">
          <label for="running-amenity-facility">近くの施設</label>
          {% for facility in form.facilities %}
          <label class="my-checkbox">
            {{ facility }}
            <span>{{  facility.label }}</span>
          </label>
          {% endfor %}
        </div>
        {{ form.submit(class="btn btn-outline-dark btn-sm", id="submit-create") }}
      </form>
    </div>

    <div class="results-container">
      <h2>検索結果</h2>
      {% if courses %}
      <h6>{{ courses|length }}件のコースがヒットしました</h6>
      <ul>
        {% for course in courses %}
        <li class="course-item">
          <article width="100%" direction="column" class="course-article">
            <a data-rtui-link="next" href="/courses/{{ course.id }}" class="course-link-1">
              <div direction="column" width="100%" class="course-image-container">
                <img alt="{{ course.title }}" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
              </div>
            </a>
            <div direction="column" class="course-title">
              <header direction="column" class="course-title-column">
              <span class="text-span">
                <a data-rtui-link="next" href="/courses/{{ course.id }}" class="course-link-2">
                  <h4 class="text-container">
                    {{ course.title }}
                  </h4>
                </a>
              </span>
              <span class="text-span">
                <div direction="column" class="course-area">
                  {{ course.prefecture }}{{ course.city }} ({{ course.distance }}km)
                </div>
              </span>
              </header>
              <p class="text-container">
              <span class="text-span">
                {{  course.description }}
              </span>
              </p>
              <div class="user-container">
                <span class="text-span">
                  <a data-rtui-link="next" href="/user/{{ course.user_id }}" class="profile-link">
                    <img alt="user-icon" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
                  </a>
                </span>  
                <span class="text-span">
                  <a data-rtui-link="next" href="/user/{{ course.user_id }}" class="profile-link">
                    <div direction="column" class="username-container">
                      {{ course.user.username }}
                    </div>
                  </a>
                </span>
              </div>
            </div>
          </article>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>検索結果が見つかりませんでした。</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
</html>