{% extends "base.html" %}
{% block title %}Home - {{ super() }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_new.css') }}" />
{% endblock %}
{% block content %}
<div class="course-create-container">
    <form class="course-create-form" action="{{ url_for('courses.new', next=request.args.get('next')) }}" method="POST" enctype="multipart/form-data">
        {% for message in get_flashed_messages() %}
        <p style="color: red;">{{ message }}</p>
        {% endfor %}
        <div class="title" style="text-align: center; font-size: 25px;">コース登録</div>
        {{ form.hidden_tag() }}
        <div class="title-area">
            {{ form.title.label(class="title-input-label") }}
            <div class="title-input-area">
                {{ form.title(class="title-input") }}
            </div>
            <div class="title-error-area" style="color: red">
                {% for error in form.title.errors %}
                <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="description-area">
            {{ form.description.label(class="description-input-label") }}
            <div class="description-input-area">
                {{ form.description(class="description-input") }}
            </div>
            <div class="description-error-area" style="color: red">
                {% for error in form.description.errors %}
                <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="prefecture-area">
            {{ form.prefecture.label(class="prefecture-input-label") }}
            <div class="prefecture-input-area">
                {{ form.prefecture(class="prefecture-input", id="prefecture") }}
            </div>
            <div class="prefecture-error-area" style="color: red">
                {% for error in form.prefecture.errors %}
                <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="city-area">
            {{ form.city.label(class="city-input-label") }}
            <div class="city-input-area">
                {{ form.city(class="city-input", id="city") }}
            </div>
            <div class="city-error-area" style="color: red">
                {% for error in form.city.errors %}
                <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="facilities-area">
            {{ form.facilities.label(class="facilities-input-label") }}
            <div class="facilities-input-area">
                {% for facility in form.facilities %}
                <div>{{ facility }} {{ facility.label }}</div>
                {% endfor %}
            </div>
            <div class="facilities-error-area" style="color: red">
                {% for error in form.facilities.errors %}
                <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="submit-btn-container">
            {{ form.submit(class="btn btn-outline-dark btn-sm", id="submit-create") }}
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#prefecture').change(function() {
            var prefectureId = $(this).val();
            if (prefectureId) {
                $.ajax({
                    url: '/courses/get_cities',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ prefecture_id: prefectureId }),
                    success: function(data) {
                        $('#city').empty();
                        $('#city').append('<option value="">選択してください</option>');
                        $.each(data, function(key, city) {
                            $('#city').append('<option value="' + city.id + '">' + city.name + '</option>');
                        });
                    }
                });
            } else {
                $('#city').empty();
                $('#city').append('<option value="">選択してください</option>');
            }
        });
    });
</script>
</div>
{% endblock %}
</html>