{% extends "base.html" %}
{% block title %}Home - {{ super() }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
{% endblock %}
{% block content %}
<div class="email-login-container">
    <form class="email-login-form" action="{{ url_for('auth', next=request.args.get('next')) }}" method="POST" novalidate="novalidate">
        {% for message in get_flashed_messages() %}
        <p style="color: red;">{{ message }}</p>
        {% endfor %}
        <div class="title" style="text-align: center; font-size: 25px;">ログイン</div>
        {{ form.hidden_tag() }}
        <div class="email-area">
            {{ form.email.label(class="email-input-label") }}
            <div class="email-input-area">
                {{ form.email(class="email-input") }}
            </div>
            <div class="email-error-area" style="color: red">
                {% for error in form.email.errors %}
                <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="password-area">
            {{ form.password.label(class="password-input-label") }}
            <div class="password">
                {{ form.password(class="password-input") }}
            </div>
            <div class="password-error-area" style="color: red">
                {% for error in form.password.errors %}
                <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="login-btn-container">
            {{ form.submit(class="btn btn-outline-dark btn-sm", id="submit-signup") }}
            <div class="for-create-user">アカウントをお持ちでない場合は
                <a data-rtui-link="next" href="/auth/signup" class="create-user-btn">新規登録</a>
            </div>
        </div>
    </form>
</div> 
{% endblock %}
</html>