{% extends "base.html" %}
{% block title %}マイページ - {{ super() }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}
{% block content %}
<div class="profile-wrapper">
    <div class="profile-container">
        <form method="POST" enctype="multipart/form-data">
            <div class="public-profile-image-container">
                <img class="public-profile-image" 
                     alt="Profile Image"
                     src="{{ url_for('static', filename='images/user-icon/'+user.profile_image) }}" 
                     {% if current_user.is_authenticated and user.id == current_user.id %}
                     onclick="document.getElementById('profile_image').click()"
                     onmouseover="this.style.transform = 'scale(1.05)'; this.style.cursor = 'pointer';"
                     onmouseout="this.style.transform = 'scale(1)'; this.style.cursor = 'auto';"
                     {% endif %}
                >
                {% if current_user.is_authenticated and user.id == current_user.id %}
                {{ form.profile_image(id='profile_image', style='display: none;') }}
                {% endif %}
            </div>
            <div>
                <input type="submit" style="display: none;">
            </div>
        </form>
        <h3>{{ user.username }}</h3>
        <div class="profile-detail-container">
            <div class="profile-detail-item bio">
                <span>{{ user.bio }}</span>
            </div>
            <div class="profile-detail-item location">
                <i class="fa-solid fa-location-dot"></i>
                <span>{{ user.address }}</span>
            </div>
        </div>
        {% if current_user.is_authenticated and current_user.id == user.id%}
            <a href="{{ url_for('profile.settings', user_id=user.id) }}" class="btn btn-outline-dark btn-sm" id="profile-edit">プロフィールを編集する</a>
        {% endif %}
    </div>
    <div class="my-courses-container">
        <div class="my-courses-title">
            <h2>保存したコース ({{ courses|length }}件)</h2>
        </div>
        <div class="my-courses-container">
            {% if courses %}
            <ul>
                {% for course in courses %}
                <li class="course-item">
                <article width="100%" direction="column" class="course-article">
                    <a data-rtui-link="next" href="/courses/{{ course.id }}" class="course-link-1">
                    <div direction="column" width="100%" class="course-image-container">
                        <img alt="{{ course.title }}" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
                    </div>
                    </a>
                    <div direction="column" class="course-title">
                    <header direction="column" class="course-title-column">
                    <span class="text-span">
                        <a data-rtui-link="next" href="/courses/{{ course.id }}" class="course-link-2">
                        <h4 class="text-container">
                            {{ course.title }}
                        </h4>
                        </a>
                    </span>
                    <span class="text-span">
                        <div direction="column" class="course-area">
                        {{ course.prefecture.name }}{{ course.city.name }} ({{ course.distance }}km)
                        </div>
                    </span>
                    </header>
                    <p class="text-container">
                    <span class="text-span">
                        {{  course.description }}
                    </span>
                    </p>
                    <div class="user-container">
                        <span class="text-span">
                        <a data-rtui-link="next" href="/user/{{ course.user_id }}" class="profile-link">
                            <img alt="user-icon" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
                        </a>
                        </span>  
                        <span class="text-span">
                        <a data-rtui-link="next" href="/user/{{ course.user_id }}" class="profile-link">
                            <div direction="column" class="username-container">
                            {{ course.user.username }}
                            </div>
                        </a>
                        </span>
                    </div>
                    </div>
                </article>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="course-item">
                {% if current_user.is_authenticated and (current_user.id == user.id)%}
                まだコースを保存していません。
                <a href="/map" style="color: rgb(0, 162, 255); font-weight: bold;">こちら</a>からコースを作成してみましょう！
                {% else %}
                このユーザーが公開しているコースはありません。
                {% endif %}
            </p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.getElementById('profile_image').addEventListener('change', function() {
      this.form.submit();
    });
</script>
{% endblock %}
</html>