html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    border: none; /* ボーダーを削除 */
    outline: none; /* フォーカス時の枠線を削除 */
    box-shadow: none; /* 影を削除 */
}

header {
    padding: 5px 5px 5px 5px;
    background-color: none;
    top: 0;
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #cdc8c8;
}

#icon {
    float: left;
    border-radius: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    width: 100%;
}

.login-signup-btns {
    display: flex;
    gap: 10px;
}

.btn.btn-light:focus {
    outline: none;
    box-shadow: none;
}

.btn-login, .btn-signup, .btn-register-course, .btn-cancel-course {
    font-size: 15px; 
    background-color: transparent; 
    display: block;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.btn-login:hover, .btn-signup:hover {
    transition: border 0.5s linear;
    border: 1px solid black;
}

.email-login-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.email-area, .password-area, .login-btn-container {
    padding: 10px;
}

.email-input-label,.password-input-label {
    padding-bottom: 10px
}

input {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid rgb(177, 177, 177);
}

input:focus {
    border: 1.5px solid rgb(0, 162, 250);
    outline: none;
}

#submit-login {
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 500px;
    height: 40px;
    border-radius: 50px;
}