html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    border: none; /* ボーダーを削除 */
    outline: none; /* フォーカス時の枠線を削除 */
    box-shadow: none; /* 影を削除 */
}

header {
    padding: 15px 10px 10px 10px;
    background-color: none;
    top: 0;
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}


td {
    cursor: pointer;
}

td:hover {
    background-color: #cdc8c8;
}

#icon {
    float: left;
    border-radius: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    width: 100%;
}

.login-signup-btns {
    display: flex;
    gap: 10px;
}

.btn.btn-light.logo:focus {
    outline: none;
    box-shadow: none;
}

#map {
    height: 100%;
    top: 3px
}

#map-container {
    flex: 1;
}

.sidebar-content {
    position: absolute;
    left: 0; /* 右端に配置（左端の場合はleft: 0;に変更） */
    z-index: 1000; /* 必要に応じてZインデックスを設定 */
    background-color: #fff; /* サイドバーの背景色 */
    padding: 10px; /* 必要に応じてパディングを調整 */
    max-width: 300px; /* 必要に応じて最大幅を設定 */
    margin-top: 120px;
    margin-left: 13px;
    border-radius: 8px;
    border: solid;
}

.nav-btn, .delete-waypoint {
    background-color: transparent; 
    border-color: #fff; 
    border-radius: 20%; 
}

.delete-waypoint:hover {
    background-color: #f4f0f0;
}


.leaflet-routing-geocoder {
    display: inline-block;
}

.geocoders {
    width: 100%;
}

#input-start-point, #input-goal-point {
    margin: 5px auto;
    width: 230px;
    border:none;
    border-bottom: 1px black solid;
}

.leaflet-routing-add-waypoint {
    float: right;
}

#custom-distance {
    margin: 5px auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#input-distance {
    width: 50%;
    border:none;
    border-bottom: 1px black solid;
}

#input-start-point:focus, #input-goal-point:focus, #input-distance:focus {
    border:none;
    border-bottom: 1.7px black solid;
    outline: none;
}

h2 {
    display: none;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
    background-color: transparent;
    border: none;
}

.autocomplete-list {
    font-size: smaller;
}