# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance
migrations
flask_app/static/images/user-icon/*
!flask_app/static/images/user-icon/default-user.png

# Environments
.env
venv/
.python

# .DS_Store
.DS_Store