# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance
migrations
flask_app/static/profile-image/*
!flask_app/static/profile-image/default-user.png

# Environments
.env
venv/

# .DS_Store
.DS_Store