{% extends "base.html" %}
{% block title %}Home - {{ super() }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('route_search.static', filename='style.css') }}">
{% endblock %}
{% block content %}
    
<div class="search-sidebar-container">
    <div class="sidebar">

      <form action="#">
        <label for="free-word">フリーワード</label>
        <input id="free-word" placeholder="気になる言葉で検索">

        <label for="prefecture">都道府県</label>
        <select id="prefecture" name="prefecture">
            <option value="0">すべて</option>
            <option value="1">北海道</option>
            <option value="2">青森県</option>
            <option value="3">岩手県</option>
            <option value="4">宮城県</option>
            <option value="5">秋田県</option>
            <option value="6">山形県</option>
            <option value="7">福島県</option>
            <option value="8">茨城県</option>
            <option value="9">栃木県</option>
            <option value="10">群馬県</option>
            <option value="11">埼玉県</option>
            <option value="12">千葉県</option>
            <option value="13">東京都</option>
            <option value="14">神奈川県</option>
            <option value="15">新潟県</option>
            <option value="16">富山県</option>
            <option value="17">石川県</option>
            <option value="18">福井県</option>
            <option value="19">山梨県</option>
            <option value="20">長野県</option>
            <option value="21">岐阜県</option>
            <option value="22">静岡県</option>
            <option value="23">愛知県</option>
            <option value="24">三重県</option>
            <option value="25">滋賀県</option>
            <option value="26">京都府</option>
            <option value="27">大阪府</option>
            <option value="28">兵庫県</option>
            <option value="29">奈良県</option>
            <option value="30">和歌山県</option>
            <option value="31">鳥取県</option>
            <option value="32">島根県</option>
            <option value="33">岡山県</option>
            <option value="34">広島県</option>
            <option value="35">山口県</option>
            <option value="36">徳島県</option>
            <option value="37">香川県</option>
            <option value="38">愛媛県</option>
            <option value="39">高知県</option>
            <option value="40">福岡県</option>
            <option value="41">佐賀県</option>
            <option value="42">長崎県</option>
            <option value="43">熊本県</option>
            <option value="44">大分県</option>
            <option value="45">宮崎県</option>
            <option value="46">鹿児島県</option>
            <option value="47">沖縄県</option>
        </select>

        <label for="length-selection">距離</label>
        <div class="list-sidebar__length" id="length-selection">
            <label for="running-length-min" class="list-sidebar__select-wrap list-sidebar__select-wrap--length c-select">
                <select name="running-length-min" id="running-length-min" class="js-running-length-min-selector js-running-length-selector list-sidebar__select">
                    <option selected="selected" value="0">下限なし</option>
                    <option value="1">1km</option>
                    <option value="2">3km</option>
                    <option value="3">5km</option>
                    <option value="4">10km</option>
                    <option value="5">15km</option>
                    <option value="6">20km</option>
                    <option value="7">30km</option>
                    <option value="8">40km</option>
                    <option value="9">40km</option>
                    <option value="9">50km</option>
                </select>
            </label>
            <div class="list-sidebar__length-between">
              〜
            </div>
            <label for="running-length-max" class="list-sidebar__select-wrap list-sidebar__select-wrap--length c-select">
                <select name="running-length-max" id="running-length-max" class="js-running-length-max-selector js-running-length-selector list-sidebar__select">
                    <option selected="selected" value="0">上限なし</option>
                    <option value="1">1km</option>
                    <option value="2">3km</option>
                    <option value="3">5km</option>
                    <option value="4">10km</option>
                    <option value="5">15km</option>
                    <option value="6">20km</option>
                    <option value="7">30km</option>
                    <option value="8">40km</option>
                    <option value="9">40km</option>
                    <option value="9">50km</option>
                </select>
            </label>
        </div>
        <div class="checkbox-container">
          <label for="running-amenity-facility">近くの施設</label>
          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            ランニングステーション
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            宿泊施設
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            温浴施設
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            ロッカー
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            シャワー
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            トイレ
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            水飲み場
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            コンビニ
          </label>

          <label class="my-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            駐車場
          </label>
        </div>
        <button type="submit" class="btn btn-outline-dark btn-sm">検 索</button>
      </form>
    </div>

    <div class="results-container">
      <h2>検索結果</h2>
      <h6>10件のコースがヒットしました</h6>
      <ul>
        <li class="course-item">
          <article width="100%" direction="column" class="course-article">
            <a data-rtui-link="next" href="/courses/1" class="course-link-1">
              <div direction="column" width="100%" class="course-image-container">
                <img alt="月崎トンネル" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
              </div>
            </a>
            <div direction="column" class="course-title">
              <header direction="column" class="course-title-column">
              <span class="text-span">
                <a data-rtui-link="next" href="/courses/1" class="course-link-2">
                  <h4 class="text-container">
                    月崎トンネル1
                  </h4>
                </a>
              </span>
              <span class="text-span">
                <div direction="column" class="course-area">
                  千葉県市原市 (2.5km)
                </div>
              </span>
              </header>
              <p class="text-container">
              <span class="text-span">
                ぽっかり穴の空いたトンネル 月崎トンネルまでのルートです。 林道月崎1号線の終点を目指してください。 林道は終点ですが、クォードの森きのこコースに接続しています。そのままクォードの森を走るのも楽しいかも。
              </span>
              </p>
              <div class="user-container">
                <span class="text-span">
                  <a data-rtui-link="next" href="/profile/1" class="profile-link">
                    <img alt="user-icon" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
                  </a>
                </span>  
                <span class="text-span">
                  <a data-rtui-link="next" href="/profile/1" class="profile-link">
                    <div direction="column" class="username-container">
                      ユーザー1
                    </div>
                  </a>
                </span>
              </div>
            </div>
          </article>
        </li>
        <li class="course-item">
          <article width="100%" direction="column" class="course-article">
            <a data-rtui-link="next" href="/courses/1" class="course-link-1">
              <div direction="column" width="100%" class="course-image-container">
                <img alt="月崎トンネル" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
              </div>
            </a>
            <div direction="column" class="course-title">
              <header direction="column" class="course-title-column">
              <span class="text-span">
                <a data-rtui-link="next" href="/courses/1" class="course-link-2">
                  <h4 class="text-container">
                    月崎トンネル1
                  </h4>
                </a>
              </span>
              <span class="text-span">
                <div direction="column" class="course-area">
                  千葉県市原市 (2.5km)
                </div>
              </span>
              </header>
              <p class="text-container">
              <span class="text-span">
                ぽっかり穴の空いたトンネル 月崎トンネルまでのルートです。 林道月崎1号線の終点を目指してください。 林道は終点ですが、クォードの森きのこコースに接続しています。そのままクォードの森を走るのも楽しいかも。
              </span>
              </p>
              <div class="user-container">
                <span class="text-span">
                  <a data-rtui-link="next" href="/profile/2" class="profile-link">
                    <img alt="user-icon" loading="lazy" decoding="async" data-nimg="fill" src="https://d3304ij6n73kfg.cloudfront.net/prod/thumb/course_main/24931/1000_500">
                  </a>
                </span>  
                <span class="text-span">
                  <a data-rtui-link="next" href="/profile/2" class="profile-link">
                    <div direction="column" class="username-container">
                      ユーザー2
                    </div>
                  </a>
                </span>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
</html>