<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Jog</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-search@4.0.0/dist/leaflet-search.min.css"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="static/style.css">
    <!-- Leaflet JavaScript -->
    <!-- Your map initialization script -->
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/">
                <button id="icon" class="btn btn-success" style="font-size: 18px;">
                    <img src="static/images/footprint_noedge.png" style="width: 27px; height: 27px">
                    <span>Share Jog</span>
                </button>
            </a>
            </div>
            <div class="login-signup-btns">
                <button type="button" class="btn btn-outline-dark" style="font-size: 18px;">
                    <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                    <span>ログイン</span>
                </button>
                <button type="button" class="btn btn-dark" style="font-size: 18px;">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <span>新規登録</span>
                </button>
            </div>
        </div>
    </header>

    <div class="sidebar-content">
        <!-- Panes -->
        <div class="sidebar-pane active" id="routing">
            <button class="nav-btn" id="nav-open-btn" onclick="openNavbar()" style="display: none;">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="routing-container" style="display: block;">
                <div class="leaflet-routing-container">
                    <div class="leaflet-routing-geocoders ">
                        <div class="geocoders">
                            <button class="nav-btn" id="nav-close-btn" onclick="closeNavbar()" style="display: block;">
                                <i class="fa fa-times"></i>
                            </button>
                            <div class="leaflet-routing-geocoder">
                                <input id="input-start-point" placeholder="スタート地点" value="">
                                <button class="delete-waypoint" id="delete-start-point">
                                    <i class="fa-solid fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="autocomplete-container" id="autocomplete-container-input-start-point"></div>
                            <div class="leaflet-routing-geocoder">
                                <input id="input-goal-point" placeholder="ゴール地点" value="">
                                <button class="delete-waypoint" id="delete-goal-point">
                                    <i class="fa-solid fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="autocomplete-container" id="autocomplete-container-input-goal-point"></div>
                        </div>
                        
                        <div class="leaflet-routing-geocoder" id="custom-distance">
                            <input class="" id="inputCustomDistance" type="number" min="1" max="200" step="0.1" placeholder="半角数字" value="">
                            <span>&nbsp;km</span>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success btn-sm" id="searchBtn">
                                <i class="fa fa-search"></i>
                                <span>検索</span>
                            </button>
                        </div>
                    </div>
                    <div class="leaflet-routing-alternatives-container" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Your map container here -->
    <div id="map-container">
        <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://browser.sentry-cdn.com/5.29.2/bundle.min.js" integrity="sha384-ir4+BihBClNpjZk3UKgHTr0cwRhujAjy/M5VEGvcOzjhM1Db79GAg9xLxYn4uVK4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-search@4.0.0/dist/leaflet-search.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        
        let map = L.map('map').setView([35.683969, 139.753326], 14);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        map.zoomControl.setPosition('bottomright');

        let routeSearchButton = document.getElementById("searchBtn")

        let startMarker = null;
        let goalMarker = null;
        let startlatLng = null;
        let goallatLng = null;

        let startIcon = L.divIcon({
            html: `<div style="background-color: #3085d6; height:30px; width:30px; border-radius: 50%; padding: 5px; display: flex; justify-content: center; align-items: center;">
                    <i class="fa-solid fa-s fa-xl" style="color: #fff; width: 58%;"></i>
                   </div>`,
            iconSize: [24, 24], // アイコンのサイズ
            iconAnchor: [12, 12],
        });

        let goalIcon = L.divIcon({
            html: `<div style="background-color: green; height:30px; width:30px; border-radius: 50%; padding: 5px; display: flex; justify-content: center; align-items: center;">
                    <i class="fa-solid fa-g fa-xl" style="color: #fff; width: 78%;"></i>
                   </div>`,
            iconSize: [24, 24], // アイコンのサイズ
            iconAnchor: [12, 12],
        });        

        map.on('click', function(e) {
            let latLng = e.latlng;
            showChoicePopup().then((choice) => {
                if (choice == "start") {
                    if (startMarker){
                        map.removeLayer(startMarker);
                    }
                    startMarker = L.marker(latLng, {icon:startIcon}).addTo(map);
                    startlatLng = latLng;
                    reverseGeoCoder(startlatLng)
                        .then(data => {
                            const address = data.address;
                            document.getElementById("input-start-point").value = address;
                        })
                        .catch(error => console.error(error));
                } else if (choice == "goal") {
                    if (goalMarker){
                        map.removeLayer(goalMarker);
                    }
                    goalMarker = L.marker(latLng, {icon:goalIcon}).addTo(map);
                    goallatLng = latLng;
                    reverseGeoCoder(goallatLng)
                        .then(data => {
                            const address = data.address;
                            document.getElementById("input-goal-point").value = address;
                        })
                        .catch(error => console.error(error));
                } else if (choice == "cancel") {
                    // キャンセル時の処理
                }
            });
        })

        let startInputElement = document.getElementById('input-start-point');
        let goalInputElement = document.getElementById('input-goal-point');
        setupAutocomplete(startInputElement);
        setupAutocomplete(goalInputElement);

        const deleteWaypointBtns = document.getElementsByClassName('delete-waypoint');
        for (var i=0; i<deleteWaypointBtns.length; i++){
            let deleteWaypointBtn = deleteWaypointBtns[i];
            deletePoint(deleteWaypointBtn);
        }

        routeSearchButton.addEventListener('click', function() {
            if ((startMarker) && (goalMarker)){
                map.eachLayer(layer => {
                if (layer instanceof L.Polyline) {
                    map.removeLayer(layer);
                }
                if ((layer instanceof L.Marker) && !(layer == startMarker) && !(layer == goalMarker)) {
                    map.removeLayer(layer)
                }
            });
                fetchRoute(startlatLng, goallatLng);
            }else{
                let alertMessage = "が登録されていません。";
                let lackedItem;
                if ((!startMarker) && (!goalMarker)){
                    lackedItem = "スタート地点とゴール地点"
                }else if(!startMarker) {
                    lackedItem = "スタート地点";
                }else{
                    lackedItem = "ゴール地点";
                }
                alertMessage = lackedItem + alertMessage;
                Swal.fire({
                    text: alertMessage,
                    icon: "error",
                    backdrop: false
                })
            }
        })

        function fetchRoute(startlatLng, goallatLng) {
            let targetLength = document.getElementById('inputCustomDistance').value
            if (!targetLength) {
                targetLength = 0
            }
            fetch('/map',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    startlat: startlatLng.lat,
                    startlng: startlatLng.lng,
                    goallat: goallatLng.lat,
                    goallng: goallatLng.lng,
                    targetLength: targetLength
                })
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`Network response was not ok: ${response.status}`);
                }
                return response.json();
            })
            .then(routeData => {
                let routeLatLng = routeData["route"].map(coord => L.latLng(coord[1], coord[0]));
                let wayPointIndices = routeData["wayPointIndices"];
                let routePolyline = L.polyline(routeLatLng, { color: 'red' })
                routePolyline.addTo(map);
                map.fitBounds(routePolyline.getBounds());

                var wayPointCnt = 0;
                for (var i = 0; i < routeLatLng.length; i++) {
                    if (wayPointIndices.includes(i) && !(i == 0) && !(i == routeLatLng.length-1)) {
                        wayPointCnt = wayPointCnt + 1;
                        let wayPointIcon = L.divIcon({
                            html: `<div style="background-color: white; height:20px; width:20px; border: 1px solid #000; border-radius: 50%; display: flex; justify-content: center; align-items: center; font-family: 'Century Gothic',sans-serif; font-weight: 900;">
                                    <span>`+wayPointCnt+`<\span>
                                </div>`,
                            iconSize: [15, 15], // アイコンのサイズ
                            iconAnchor: [7, 7],
                        });  
                        let waypointMarker = L.marker(routeLatLng[i], {icon: wayPointIcon}).addTo(map);
                    }
                }
                
            })
            .catch(error => alert(error))
        }

        
        function reverseGeoCoder(latLng) {
            let url = 'https://nominatim.openstreetmap.org/reverse?format=json&lat=' + latLng.lat + '&lon=' + latLng.lng;
            return fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const address = data.display_name;
                    return {
                        "address": address
                    }
                })
                .catch(error => {
                    return {
                        "address": "選択した場所"
                    }
                });
        }

        function originalGeocoder(query) {
            let url = 'https://nominatim.openstreetmap.org/search?q=' + query + '&format=json&countrycodes=JP';
            return fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).catch(error => {
                    return []
                });
        }

        function setupAutocomplete(inputElement) {
            const inputElementId = inputElement.getAttribute("id");
            let debounceTimer;

            inputElement.addEventListener('input', function() {
                clearTimeout(debounceTimer);
                document.getElementById('autocomplete-container-' + inputElementId).innerHTML = '';
                debounceTimer = setTimeout(function() {
                    containerElement = document.getElementById('autocomplete-container-' + inputElementId)
                    const resultList = document.createElement('table');
                    if (containerElement) {
                        containerElement.appendChild(resultList);
                        resultList.classList.add('autocomplete-list');
                    } else {
                        console.error("Container element not found");
                        return;
                    }
                    const query = inputElement.value;
                    originalGeocoder(query)
                        .then(data => {
                            // Clear previous results
                            resultList.innerHTML = '';
                            // Display new results
                            data.forEach(result => {
                                const listRow = document.createElement('tr');
                                const listItem = document.createElement('td');
                                var latLng = L.latLng(parseFloat(result.lat), parseFloat(result.lon));
                                listItem.textContent = result.display_name;
                                listItem.addEventListener('click', function() {
                                    inputElement.value = result.display_name;
                                    resultList.innerHTML = '';
                                    map.setView(latLng, 14);
                                    if (inputElementId == 'input-start-point') {
                                        if (startMarker){
                                            map.removeLayer(startMarker);
                                        }
                                        startMarker = L.marker(latLng, {icon:startIcon}).addTo(map); 
                                        startlatLng = latLng;
                                    }
                                    else if (inputElementId == 'input-goal-point') {
                                        if (goalMarker){
                                            map.removeLayer(goalMarker);
                                        }
                                        goalMarker = L.marker(latLng, {icon:goalIcon}).addTo(map);
                                        goallatLng = latLng;
                                    }
                                });
                                listRow.appendChild(listItem);
                                resultList.appendChild(listRow);
                            });
                            if (data.length == 0) {
                                const noListElem = document.createElement('span');
                                noListElem.textContent = "検索結果が見つかりません"
                                resultList.appendChild(noListElem)
                            }
                        })
                }, 200); // 500ミリ秒のデバウンス時間
            });

            // Hide results when clicking outside the input and results list
            document.addEventListener('click', function(e) {
                const resultList = document.getElementsByClassName('autocomplete-list')[0];
                if (resultList && !inputElement.contains(e.target) && !resultList.contains(e.target)) {
                        resultList.innerHTML = '';
                }
            });
        }

        function deletePoint(deleteBtn) {
            deleteBtn.addEventListener('click', function() {
                const deleteBtnId = deleteBtn.getAttribute('id');
                const inputElementId = deleteBtnId.replace('delete','input');
                const targetInputElement = document.getElementById(inputElementId);
                targetInputElement.value = '';
                if (inputElementId == 'input-start-point' && startMarker) {
                    map.removeLayer(startMarker);
                    startMarker = null;
                }else if (inputElementId == 'input-goal-point' && goalMarker) {
                    map.removeLayer(goalMarker);
                    goalMarker = null;
                }
            })
        }

        function showChoicePopup() {
            return new Promise((resolve, reject) => {
                Swal.fire({
                    text: "指定した地点はどちらに登録しますか？",
                    showCancelButton: true,
                    confirmButtonText: "スタート地点",
                    confirmButtonColor: "#3085d6",
                    cancelButtonText: "キャンセル",
                    cancelButtonColor: "#d33",
                    showDenyButton: true,
                    denyButtonText: "ゴール地点",
                    denyButtonColor: "green",
                    icon: "question",
                    backdrop: false
                }).then((result) => {
                    // ユーザーの選択に基づいて処理を実行
                    if (result.isConfirmed) {
                         resolve("start"); // "start"を解決
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        resolve("cancel"); // "cancel"を解決
                    } else if (result.isDenied) {
                        resolve("goal"); // "goal"を解決
                    } else {
                        reject("No choice made"); // キャンセルや拒否以外の場合はreject
                    }
                });
            });
        }

        function closeNavbar() {
            const navbar = document.querySelector('.routing-container');
            navbar.style.height = "0";
            navbar.style.display = "none";
            document.querySelector('#nav-open-btn').style.display = "block";
        }

        function openNavbar() {
            const navbar = document.querySelector('.routing-container');
            navbar.style.display = "block";
            navbar.style.height = "auto";
            document.querySelector('#nav-open-btn').style.display = "none";
        }



    </script>
</body>
</html>