<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JogRoutePlanner</title>
    <!-- Leaflet CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="static/style.css">
    <!-- Leaflet JavaScript -->
    <!-- Your map initialization script -->
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/map">
                <button id="icon" class="btn btn-dark">
                    <span>Jog Route Planner</span>
                </button>
            </a>
            </div>
            <div class="login-signup-btns">
                <button type="button" class="btn btn-secondary">Login</button>
                <button type="button" class="btn btn-dark">Sign Up</button>
            </div>
        </div>
    </header>
    <!-- Your map container here -->
    <div id="map-container">
        <div id="map"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script>
        let controller = null;
        let map = L.map('map').setView([35.683969, 139.753326], 14);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        L.Control.geocoder().addTo(map);

        map.zoomControl.setPosition('bottomright');

        let startMarker = null;
        let goalMarker = null;

        map.on('click', function(e) {
            let latLng = e.latlng;

            if (!startMarker) {
                // スタート位置が選択されていない場合
                startMarker = L.marker(latLng).addTo(map);
                startlatLng = latLng;
                startAddress = reverseGeoCoder(startlatLng)
            } else if (!goalMarker) {
                // ゴール位置が選択されていない場合
                goalMarker = L.marker(latLng).addTo(map);
                endlatLng = latLng;
                endAddress = reverseGeoCoder(endlatLng)
                updateRoute(startlatLng, endlatLng);
            }
        })

        async function updateRoute(startlatLng, endlatLng){

            await fetch('/map',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ startlatLng: startlatLng, endlatLng: endlatLng })
            })
            .then(response => response.json())
            .then(data => {
                L.polyline(data.route, { "color": "red" }).addTo(map);
                for (var i=0; i<=data.route.length-1; i++) {
                    coordinate = data.route[i];
                    if (i == 0){
                        var color = "blue";
                    }else if (i == data.route.length-1){
                        var color = "green";
                    }else {
                        var color = "red";
                    }
                    L.circle(coordinate, 5, {
                        color: color
                    }).addTo(map).bindPopup("通過点"+(i+1)+"/"+data.route.length);
                };
            }).catch(error => alert(error));
        }

        async function reverseGeoCoder(latLng) {
            // 以前のリクエストがあればキャンセル
            if (controller) {
                controller.abort();
            }

            controller = new AbortController();
            let signal = controller.signal;

            let url = 'https://nominatim.openstreetmap.org/reverse?format=json&lat=' + latLng.lat + '&lon=' + latLng.lng;

            try {
                const response = await fetch(url, { signal });
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                const data = await response.json();
                const address = data.display_name;
                alert(address)
                return address;
            } catch (error) {
                if (error.name === 'AbortError') {
                    console.warn('Request aborted:', error.message);
                } else {
                    console.error('Error:', error);
                    return "pinned position";
                }
            }
        }

    </script>
</body>
</html>
