nav {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    text-align: center;
    padding:5px;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.05);
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
  
nav li {
    margin-right: 20px;
    display: inline-block;
    margin-right: 80px;
    padding: 5px;
}

nav li:last-child {
    margin-right: 0;
}
  
nav a {
    text-decoration: none;
    color: black;
    display: inline-block; 
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

nav a:hover {
    color: inherit; /* ホバー時の色を親要素の色に継承 */
    text-decoration: none; /* ホバー時の下線を無効にする */
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid rgba(72, 75, 76, 0.738);
}

.search-icon {
    position: absolute;
    right: 20px; /* アイコンを左端に配置する位置を調整します */
    top: 50%; /* アイコンを垂直方向にセンタリング */
    transform: translateY(-50%); /* アイコンを垂直方向にセンタリング */
    color: #888; /* アイコンの色を調整します */
}

.search-icon:hover {
    cursor: pointer;
}
  
.top-visual-search-input {
    border: none;
    border-radius: 10px;
    width: calc(100% - 30px); /* アイコンの幅と左の余白を考慮して、inputの幅を調整 */
    height: 50px;
    padding-left: 15px; /* アイコンの幅と左の余白を考慮して、入力フィールド内のテキストの位置を調整 */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
}

.top-visual-search-input:focus {
    outline: none;
}

.selection-wrapper {
    margin: 0 5vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.selection-container {
    background-color: rgb(238, 238, 238);
    padding: 10vh;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 10px;
}

.selection-container:hover {
    background-color: #ccc; /* ホバー時の色 */
}

.selection-container .i-top-visual__inner-title {
    text-align: center;
}

.selection-container .i-top-visual__inner-title i {
    margin-left: 5px;
}

.new-courses-wrapper {
    padding: 5vh 5vw;
}

.new-courses-title {
    background-color: rgb(234, 255, 221);
    padding: 10px 10px 6px 10px;
    border-radius: 10px;
    display: flex;
    a {
        margin: auto 0 0 auto;
    }
}

.new-courses-container {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.course-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}
.course-item img {
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .course-item {
      width: calc(50% - 10px);
    }
}
@media (max-width: 480px) {
    .course-item {
      width: 100%;
    }
}