html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    border: none; /* ボーダーを削除 */
    outline: none; /* フォーカス時の枠線を削除 */
    box-shadow: none; /* 影を削除 */
}

ul {
    list-style: none;
}

a {
    color: black;
}

a:hover{
    color:black
}

header {
    padding: 5px 5px 5px 5px;
    background-color: none;
    top: 0;
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #cdc8c8;
}

#icon {
    float: left;
    border-radius: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    width: 100%;
}

.login-signup-btns {
    display: flex;
    gap: 10px;
}

.btn.btn-light:focus {
    outline: none;
    box-shadow: none;
}

.btn-login, .btn-signup, .btn-profile, .btn-register-course, .btn-cancel-course {
    font-size: 15px; 
    background-color: transparent; 
    display: block;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.btn-login:hover, .btn-signup:hover, .btn-profile:hover {
    transition: border 0.5s linear;
    border: 1px solid black;
}

.profile-icon {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin: 3px;
    border: 1px solid black;
    transition: filter 0.15s linear;
}

.profile-icon:hover {
    filter: brightness(80%);
}

nav {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    text-align: center;
    padding:5px;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.05);
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
  
nav li {
    margin-right: 20px;
    display: inline-block;
    margin-right: 80px;
    padding: 5px;
}

nav li:last-child {
    margin-right: 0;
}
  
nav a {
    text-decoration: none;
    color: black;
    display: inline-block; 
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

nav a:hover {
    color: inherit; /* ホバー時の色を親要素の色に継承 */
    text-decoration: none; /* ホバー時の下線を無効にする */
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid rgba(72, 75, 76, 0.738);
}

.search-icon {
    position: absolute;
    right: 20px; /* アイコンを左端に配置する位置を調整します */
    top: 50%; /* アイコンを垂直方向にセンタリング */
    transform: translateY(-50%); /* アイコンを垂直方向にセンタリング */
    color: #888; /* アイコンの色を調整します */
}

.search-icon:hover {
    cursor: pointer;
}
  
.top-visual-search-input {
    border: none;
    border-radius: 10px;
    width: calc(100% - 30px); /* アイコンの幅と左の余白を考慮して、inputの幅を調整 */
    height: 50px;
    padding-left: 15px; /* アイコンの幅と左の余白を考慮して、入力フィールド内のテキストの位置を調整 */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
}

.top-visual-search-input:focus {
    outline: none;
}

.selection-wrapper {
    margin: 0 5vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.selection-container {
    background-color: rgb(238, 238, 238);
    padding: 10vh;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 10px;
}

.selection-container:hover {
    background-color: #ccc; /* ホバー時の色 */
}

.selection-container .i-top-visual__inner-title {
    text-align: center;
}

.selection-container .i-top-visual__inner-title i {
    margin-left: 5px;
}

.new-courses-wrapper {
    padding: 5vh 5vw;
}

.new-courses-title {
    background-color: rgb(234, 255, 221);
    padding: 10px 10px 6px 10px;
    border-radius: 10px;
    display: flex;
    a {
        margin: auto 0 0 auto;
    }
}

.new-courses-container {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.course-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}
.course-item img {
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .course-item {
      width: calc(50% - 10px);
    }
}
@media (max-width: 480px) {
    .course-item {
      width: 100%;
    }
}