<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Jog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='style.css') }}" />
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/home">
                <button id="icon" class="btn btn-light logo" style="font-size: 25px; background-color: transparent; border: none">
                    <img src="./static/logo.png" style="width: 45px; height: 45px; background-color: transparent; padding: 3px; border-radius: 10px;">
                    <span>Share Jog</span>
                </button>
            </a>
            <div class="login-signup-btns">
                <a href="/auth/login">
                    <button type="button" class="btn-login">
                        <span>ログイン</span>
                    </button>
                </a>
                <a href="/auth/signup">
                    <button type="button" class="btn-signup">
                        <span>新規登録</span>
                    </button>
                </a>
                <a>
                    <button type="button" class="btn btn-light mypage" style="font-size: 15px; background-color: transparent; border: none; display: none;">
                        <span>マイページ</span>
                    </button> 
                </a>
            </div>
        </div>
    </header>

    <div class="email-signup-container">
        <form class="email-signup-form" action="{{ url_for('auth.signup', next=request.args.get('next')) }}" method="POST" novalidate="novalidate">
            {% for message in get_flashed_messages() %}
            <p style="color: red;">{{ message }}</p>
            {% endfor %}
            <div class="title" style="text-align: center; font-size: 25px;">新規登録</div>
            {{ form.hidden_tag() }}
            <div class="username-area">
                {{ form.username.label(class="username-input-label") }}
                <div class="username-input-area">
                    {{ form.username(class="username-input") }}
                </div>
                <div class="username-error-area" style="color: red">
                    {% for error in form.username.errors %}
                    <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                    {% endfor %}
                </div>
            </div>
            <div class="email-area">
                {{ form.email.label(class="email-input-label") }}
                <div class="email-input-area">
                    {{ form.email(class="email-input") }}
                </div>
                <div class="email-error-area" style="color: red">
                    {% for error in form.email.errors %}
                    <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                    {% endfor %}
                </div>
            </div>
            <div class="password-area">
                {{ form.password.label(class="password-input-label") }}
                <div class="password">
                    {{ form.password(class="password-input") }}
                </div>
                <div class="password-error-area" style="color: red">
                    {% for error in form.password.errors %}
                    <i class="fa-solid fa-circle-exclamation">&nbsp;{{ error }}</i>
                    {% endfor %}
                </div>
            </div>
            <div class="signup-btn-container">
                {{ form.submit(class="btn btn-outline-dark btn-sm", id="submit-signup") }}
            </div>
        </form>
    </div>
    
</body>
</html>