/* course_new.css */

/* コース登録フォーム全体のスタイル */
.course-create-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  max-width: 600px;
}

/* 各入力エリアのスタイル */
.course_images-area,
.map-area,
.title-area,
.description-area,
.distance-area,
.prefecture-area,
.city-area,
.facilities-area {
  margin-top: 40px;
}

/* 入力ラベルのスタイル */
.course_images-input-area
.map-label,
.title-input-label,
.description-input-label,
.distance-input-label,
.prefecture-input-label,
.city-input-label,
.facilities-input-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* 入力フィールドのスタイル */
.title-input,
.description-input,
.distance-input,
.prefecture-input,
.city-input,
.facilities-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1.5px solid rgb(177, 177, 177);
  padding: 8px;
  box-sizing: border-box;
}

/* コース画像アップロード */
.upload-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* 画像間の隙間 */
}

.upload-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-preview {
  width: 120px; /* 画像の最大幅 */
  height: 120px; /* 画像の最大高さ */
  object-fit: cover;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; /* ラベルの幅をフィールドに合わせる */
  height: 150px; /* ラベルの高さを固定 */
  padding: 20px;
  border: 2px dashed #007bff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: #007bff;
  background-color: #f8f9fa;
  position: relative;
}

.upload-label input[type="file"] {
  display: none;
}

.upload-label:hover {
  background-color: #e9ecef;
}

.upload-text {
  display: block;
  width: 100%;
  white-space: normal; /* テキストを改行させる */
  overflow: hidden;
  margin-top: 10px;
  font-size: 14px;
}

/* コースの説明 */

.description-input {
  height: 100px;
  resize: none;
}

/* 送信ボタンのスタイル */
.submit-btn-container {
  text-align: center;
  margin-top: 20px;
}

#submit-create {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* Select2コンテナのスタイル */
.select2-container--default .select2-selection--single {
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  border: 1.5px solid rgb(177, 177, 177);
  padding: 8px;
  box-sizing: border-box;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}

.select2-container--default .select2-selection--single:focus {
  border-color: rgb(0, 162, 250);
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  background-color: transparent;
  border: none;
}

#mapid {
  margin: auto;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
