/* course_new.css */

/* コース登録フォーム全体のスタイル */
.course-create-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  max-width: 600px;
}

/* 各入力エリアのスタイル */
#map-area,
.title-area,
.description-area,
.distance-area,
.prefecture-area,
.city-area,
.facilities-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 入力ラベルのスタイル */
.map-label,
.title-input-label,
.description-input-label,
.distance-input-label,
.prefecture-input-label,
.city-input-label,
.facilities-input-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* 入力フィールドのスタイル */
.title-input,
.description-input,
.distance-input,
.prefecture-input,
.city-input,
.facilities-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1.5px solid rgb(177, 177, 177);
  padding: 8px;
  box-sizing: border-box;
}

.description-input {
  height: 100px;
  resize: none;
}

/* 送信ボタンのスタイル */
.submit-btn-container {
  text-align: center;
  margin-top: 20px;
}

#submit-create {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* Select2コンテナのスタイル */
.select2-container--default .select2-selection--single {
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  border: 1.5px solid rgb(177, 177, 177);
  padding: 8px;
  box-sizing: border-box;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}

.select2-container--default .select2-selection--single:focus {
  border-color: rgb(0, 162, 250);
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  background-color: transparent;
  border: none;
}

#mapid {
  margin: auto;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
