/* 全体のスタイル */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

/* 検索フォーム */
.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.top-visual-search-input {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1em;
}

.top-visual-search-input:focus {
  outline: none;
}

.search-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-button .fa-search {
  font-size: 1.2em;
}

/* セレクションのスタイル */
.selection-wrapper {
  margin: 0px 5vw 5vh 5vw;
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.selection-container {
  background-color: rgb(238, 238, 238);
  padding: 7vh;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 10px;
}

.selection-container:hover {
  background-color: #ccc;
}

.selection-container .i-top-visual__inner-title {
  text-align: center;
  width: 100%;
}

.selection-container .i-top-visual__inner-title i {
  margin-left: 5px;
}

.cover-image {
  width: 100%;
}

.top-visual-title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.top-visual-title > h1 {
  font-size: 50px;
}

.top-visual-container {
  position: relative;
}

.top-visual-search-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-70px);
  display: flex;
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.search-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* メディアクエリ（レスポンシブ対応） */
@media (max-width: 768px) {
  .top-visual-title {
      left: 10px;
      font-size: 14px;
  }

  .selection-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .selection-container {
      padding: 5vh;
  }

  .top-visual-search-input {
      width: calc(100% - 30px);
  }

  .top-visual-search-container {
      flex-direction: column;
      width: 80%;
  }

  .top-visual-title > h1 {
    font-size: 37px;
  }
}

@media (max-width: 480px) {
  .top-visual-title {
      left: 5px;
      font-size: 12px;
  }

  .top-visual-search-input {
      width: calc(100% - 30px);
  }

  .cover-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .top-visual-title > h1 {
    font-size: 30px;
  }

}
