#map {
  height: 100%;
  top: 3px;
  cursor: crosshair;
}

#map-container {
  flex: 1;
}

.searchbar-content {
  position: absolute;
  left: 0; /* 右端に配置（左端の場合はleft: 0;に変更） */
  z-index: 1000; /* 必要に応じてZインデックスを設定 */
  background-color: #fff; /* サイドバーの背景色 */
  padding: 10px; /* 必要に応じてパディングを調整 */
  max-width: 300px; /* 必要に応じて最大幅を設定 */
  margin-top: 15px;
  margin-left: 13px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), /* 右下は少し太めに */
              2px -2px 5px rgba(0, 0, 0, 0.3), /* 右上 */
              -2px 2px 5px rgba(0, 0, 0, 0.3), /* 左下 */
              -2px -2px 5px rgba(0, 0, 0, 0.3); /* 左上 */
  width: 100%;
  max-height: 9999px;
}

.searchbar-content.shrink {
  width: 47px;
  height: 47px;
}

.route-container.expand {
  visibility: visible;
  opacity: 1;
  transition: 0.25s;
}
.route-container.shrink {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

.searchbar-btn, .delete-waypoint, .resultbar-btn {
  background-color: transparent; 
  transition: background-color 0.2s linear;
  border-color: #fff; 
  border-radius: 20%; 
}

.resultbar-btn:hover {
  color: inherit; /* ホバー時の色を親要素の色に継承 */
  background-color: #f0f3f4;
  transition: background-color 0.2s linear;
}

.geocoders {
  width: 100%;
}

#input-start-point, #input-goal-point {
  margin: 5px auto;
  width: 230px;
  border:none;
  border-bottom: 1px black solid;
}

#custom-distance {
  margin: 5px auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#input-distance {
  width: 50%;
  border:none;
  border-bottom: 1px black solid;
}

#input-start-point:focus, #input-goal-point:focus, #input-distance:focus {
  border:none;
  outline: none;
  border-bottom: 1.7px black solid;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  background-color: transparent;
  border: none;
}

.autocomplete-list {
  font-size: smaller;
}

.resultbar-container {
  position: fixed; /* スクロールしても位置が固定される */
  bottom: 0px; /* 下からの距離 */
  left: 50%; /* 左からの距離を50%に設定 */
  transform: translateX(-50%); /* 中心揃えのためにX方向に50%移動 */
  z-index: 1000; /* 必要に応じてZインデックスを設定 */
  background-color: #fff; /* 背景色 */
  padding: 10px; /* パディング調整 */
  max-width: 300px; /* 最大幅 */
  height: 280px; /* 高さ */
  width: 600px; /* 幅 */
  border-radius: 5px; /* 角を丸める */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), /* シャドウ */
              2px -2px 5px rgba(0, 0, 0, 0.3), 
              -2px 2px 5px rgba(0, 0, 0, 0.3), 
              -2px -2px 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease; /* 右位置の遷移 */
}

.resultbar-container.show {
  /* このクラスがあるときに追加で適用するスタイルがあれば記述 */
}

.resultbar-container.none {
  visibility: hidden;
}

.resultbar-container.hidden {
  visibility: hidden;
}

.resultbar-content {
  padding: 10px;
  text-align: center;    
}

.register-course-btns-container {
  padding: 10px;
}

.btn-register-course {
  font-size: 13.4px;
  border: 1px solid black;
  margin: auto;
  width: 100%;
}

.fa-solid.fa-chevron-left, .fa-solid.fa-chevron-right {
  width: 35px; 
  border-radius: 50%; 
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .1s linear;
}

.fa-solid.fa-chevron-left:hover, .fa-solid.fa-chevron-right:hover {
  background-color: rgb(228, 228, 228);
  transition: background-color .1s linear;
}

.fa-solid.fa-chevron-left.disabled, .fa-solid.fa-chevron-right.disabled {
  color: #c2c2c2;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .searchbar-content.expand {
    transform: scale(0.8);
    margin: -8px 0px 0px -20px;
  }
  .resultbar-container {
    width: 300px; /* 幅を小さく調整 */
    height: auto; /* 高さを自動調整 */
    max-width: 100%; /* 最大幅を100%に設定 */
    margin-top: 10px; /* 上部マージンを調整 */
    padding: 5px; /* パディングを小さく調整 */
  }

  .resultbar-content {
    padding: 5px; /* パディングを小さく調整 */
  }

  .course-elevation-chart {
    display: none; /* チャートを非表示にする */
  }
}


