/* デフォルトのスタイル（デスクトップ用） */
.profile-wrapper {
  display: flex;
  margin: auto;
}

.profile-container {
  margin: 50px 20px 0px 0px;
  width: 340px;
  height: 600px;
  border-radius: 20px;
}

.profile-container * {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.public-profile-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 3px;
}

#profile-edit {
  margin-top: 30px;
  width: 100%;
}

.my-courses-container {
  flex: 1;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 30px 10px;
}

.my-courses-container h3 {
  margin-bottom: 20px;
}

.my-courses-title {
  padding: 10px 10px 6px 10px;
  border-radius: 10px;
  display: flex;
}

.course-item {
  list-style: none; /* リストのマーカーを削除 */
  padding: 10px; /* パディングをリセット */
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

p.course-item {
  margin-left: 30px;
}

.course-article {
  width: 100%; /* 幅を100%に設定 */
  display: flex; /* フレックスコンテナにする */
  flex-direction: column; /* コンテンツを縦方向に配置 */
}

.course-image-container img {
  object-fit: cover; /* 画像のアスペクト比を保持したまま親要素にフィットさせる */
  width: 100%; /* 幅を100%に設定 */
  height: 200px; /* 高さを固定値に設定 */
}

.course-title {
  padding: 10px; /* 内側のパディングを追加 */
}

.course-title-column {
  margin-bottom: 10px; /* ヘッダーと本文の間にマージンを追加 */
}

.detail-description-container {
  display: flex;
}

/* Bookmark Button */
.like-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.1s ease-in-out;
  margin-left: auto; /* 右に寄せる */
}

.like-btn .fa-regular {
  margin-right: 5px; /* Space between icon and text */
}

.text-span {
  margin: 0; /* マージンをリセット */
}

.text-span h4 {
  margin: 0; /* マージンをリセット */
}

.text-span a {
  color: inherit; /* リンクの色を親要素と同じに設定 */
  text-decoration: none; /* 下線を削除 */
}

.text-span a:hover {
  text-decoration: underline; /* マウスオーバー時に下線を表示 */
}

.text-container {
  margin: 0; /* マージンをリセット */
}

.course-area {
  margin-left: 20px;
}

.user-container {
  margin-top: 10px;
  display: flex;
}

.profile-link img {
  object-fit: cover; /* 画像のアスペクト比を保持したまま親要素にフィットさせる */
  width: 25px; /* 幅を100%に設定 */
  height: 25px; /* 高さを固定値に設定 */
  border-radius: 50%;
  margin-right: 10px;
}

/* スマホ画面サイズでのレスポンシブデザイン */
/* スマホ用のスタイル */
@media (max-width: 768px) {
  .profile-wrapper {
    flex-direction: column;
  }

  .profile-container {
    width: 100%;
    padding: 20px;
    height: auto;
  }

  .profile-container .public-profile-image {
    width: 150px;
    height: 150px;
  }

  .my-courses-container {
    width: 100%;
    margin: 10px 0;
  }

  .my-courses-title {
    padding: 5px;
  }

  .course-item {
    padding: 5px;
  }

  .course-article {
    flex-direction: column;
    padding: 0;
  }

  .course-image-container img {
    height: auto;
  }

  .course-title {
    padding: 5px;
  }
}
